# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*Invoke-RestMethod -Uri "https://vapt-tracker-1.onrender.com/api/vendors" -Method POST -ContentType "application/json" -Headers @{Authorization="Bearer YOUR_TOKEN"} -Body '{"vendorName":"Net Access"}'

*.njsproj
*.sln
*.sw?




